@import './font.css';

.titlecontact{
    font-family: 'Inconsolata-Bold';
    font-weight: bolder;
    font-size: calc(25px + 5vmin);
    color: #007acc;
    bottom: 5%;
}

.portfolio-dp{
    padding-top: 20px;
    offset-anchor: 50%;
    left: 35%;
    align-items: flex-start;
    height: calc(100px + 30vmin);
    border-radius: 50%;
}

.contactMain{
    width: 100%;
    /* position: absolute; */
}

.contact{
    width: calc(100px + 30vmin);
    display:inline-flex;
    align-items: center;
    justify-content:space-between;
    /* position: absolute; */
}

.icons{
    /* position: absolute; */
    opacity: .5;
    /* filter: grayscale(0%); */
    border-radius: 50%;
    width: calc(10px + 5vmin);
    height: calc(10px + 5vmin);
    cursor: pointer;
}
.icons:hover{
    opacity: 1;
    /* filter: grayscale(100%); */
}

/* .icons.fb{
    left: 10%;
    top: 10%;

}
.icons.mail{
    left: 15%;
    bottom: 20%;
    width: calc(20px + 12vmin);
    height: calc(20px + 12vmin);
}
.icons.linkedin{
    right: 10%;
    top: 10%;
}
.icons.git{
    right: 15%;
    bottom: 20%;
    width: calc(20px + 15vmin);
    height: calc(20px + 15vmin);
} */