@import './font.css';

.titlecontact{
    font-family: 'Inconsolata-Bold';
    font-weight: bolder;
    font-size: calc(25px + 5vmin);
    color: #007acc;
    bottom: 5%;
}

.portfolio-dp{
    padding-top: 20px;
    offset-anchor: 50%;
    left: 35%;
    align-items: flex-start;
    height: calc(100px + 50vmin);
    border-radius: 50%;
}

.contactMain{
    width: 100%;
    position: absolute;
}

.contact{
    width: 100%;
    height: calc(100px + 50vmin);
    position: absolute;
}

.icons{
    position: absolute;
    border-radius: 50%;
    width: calc(50px + 15vmin);
    height: calc(50px + 15vmin);
    cursor: pointer;
}

.icons.fb{
    left: 10%;
    top: 10%;

}
.icons.mail{
    left: 15%;
    bottom: 20%;
    width: calc(20px + 12vmin);
    height: calc(20px + 12vmin);
}
.icons.linkedin{
    right: 10%;
    top: 10%;
}
.icons.git{
    right: 15%;
    bottom: 20%;
    width: calc(20px + 15vmin);
    height: calc(20px + 15vmin);
}