
.linkstyle {
    font-family: 'Inconsolata-Regular';
    font-size: calc(3px + 2.5vmin);
    display: inline-flex;
    flex-flow: row wrap;
    margin-inline-start: 3%;
    margin-inline-end: 3%;

    color: #f1f1f1;
    text-decoration: none;
    cursor: pointer;
}

.linkstyle.active{
    font-weight: bolder;
    text-decoration: none;
    color: #007acc
}

/* unvisited link */
.linkstyle:link {
    color: #f1f1f1;
}

/* mouse over link */
.linkstyle:hover {
    font-weight: bolder;
    text-decoration: underline;
}


.links{
    margin-bottom: 10px; 
}
