@import './font.css';

.pager{
    display: flex;
    font-size: calc(50px + 5vmin);
    font-family:  'Inconsolata-Bold';
    position: fixed;
    height:calc(50px + 5vmin) ;
    top: 40%;
    width: 100%;
}
.previous{
    color: #007acc;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    left: 2%;

}

.previous:hover{
    color: #13a0ff;
}

.previous.disabled{
    color:  #007acc46;
    font-weight: 200;
    position: absolute;
    left: 2%;
}
.next{
    position: absolute;
    color: #007acc;
    font-weight: bold;
    cursor: pointer;
    right: 2%;
}

.next:hover{
color:  #13a0ff;
}

.next.disabled{
    position: absolute;
    color:  #007acc46;
    font-weight: 200;
    right: 2%;
}
.pdfView{
    height: 200px;
    width: 100px;
}