.popup {  
    position: fixed;  
    z-index:2;
    width: 100%;  
    height: 100%;  
    top: 0;  
    left: 0;  
    right: 0;  
    bottom: 0;  
    margin: auto;  
    align-content: center;
    align-items: center;
    background-color: rgba(0,0,0, 0.6);  
  }  
  .popupinner {  
    position: absolute;  
    left: 5%;  
    right: 5%;    
    top: 20%;  
    /* bottom: 15%;   */
    width: 90%;
    padding-bottom: 10px;
    /* height: 80%; */
    border-radius: 20px;  
    background-color:#000000de; 
  }

  .close{
    position: relative;
    padding-top: 10px;
    color: #007acc;
    text-decoration: underline;
    cursor: pointer;
  }

  .close:hover{
    opacity: 0.8;
  }

  .popupText{
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    font-family: 'Inconsolata-Regular';
    color: #f1f1f1;
}
/* .popupAbout{
  position: absolute;
  width: 35%;
  text-align: justify;
} */
.popupText span{
    font-family: 'Inconsolata-Bold';
    font-weight: bold;
    color: #007acc;
    cursor: pointer;
}

@media only screen and (max-height: 500px) {
  .popupinner {
    position: absolute;  
    left: 5%;  
    right: 5%;    
    top: 0%;  
    /* bottom: 15%;   */
    width: 90%;
    padding-bottom: 10px;
    /* height: 80%; */
    border-radius: 20px;  
    background-color:#000000de; 
  }
  .popupText{
      padding-top: 0%;
      padding-left: 20px;
      padding-right: 20px;
      position: relative;
      font-family: 'Inconsolata-Regular';
      color: #f1f1f1;
      font-size: .75rem;
  }
  .popupText span{
      font-family: 'Inconsolata-Bold';
      font-weight: bold;
      color: #007acc;
      cursor: pointer;
      font-size: 1.5rem;
  }
}